<table border="1">
<% @products.each do |product| %>
    <tr>
        <td> <%= product.name %></td> 
        <td><%= product.price %></td>
        <td>
          <%= link_to_remote(
                'delete',
                :update => "product_list",
                :url => {:action => :delete_product, :id => product.id}
              ) 
          %>
        </td>
    </tr>
<% end %>

</table>


